*,
*:before,
*:after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font: 300 1em/1.5 "Open Sans", "Helvetica Neue", Arial, sans-serif;
   text-decoration: none;
   color: #111;
}

html,
body {
   background: rgb(236, 240, 241);
}

.container {
   min-height: 100vh;
   min-width: 500px;
   margin: auto;
   text-align: center;
   position: relative;
 
   h1 {
      font-size: 2em;
      padding: 20px 0;
   }
   p {
      font-size: 0.75em;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 20px 0;
   }
}

button:hover {
   cursor: pointer;
}

button {
   background: transparent;
   outline: none;
   position: absolute;
   top: 40%;
   left: 40%;
   border: 2px solid #111;
   padding: 15px 50px;
   overflow: hidden;
}

button div {
   text-transform: uppercase;
   letter-spacing: 3px;
   font-weight: 800;
   font-size: 0.8em;
   transition: all 0.3s ease-in-out;
}

button:hover div {
   opacity: 0;
   transform: translate(100%, 0);
}

button:before {
   content: attr(data-hover);
   position: absolute;
   text-transform: uppercase;
   top: 1.21em;
   left: 0;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-weight: 800;
   font-size: 0.8em;
   opacity: 0;
   transform: translate(-100%, 0);
   transition: all 0.3s ease-in-out;
}

button:hover:before {
   opacity: 1;
   transform: translate(0, 0);
}
